/* CUSTOM FONT */
@font-face {
  font-family: Bebas;
  src: url("../src/assets/fonts/BebasNeue-Regular.ttf");
}

@font-face {
  font-family: Sora;
  src: url("../src/assets/fonts/Sora-Regular.ttf");
}

@font-face {
  font-family: Inter;
  src: url("../src/assets/fonts/Inter-Regular.ttf");
}

@import "tailwindcss";

/* THEMES */
@theme{
  --font-bebas: Bebas, "sans-serif";
  --font-sora: Sora, "sans-serif";
  --font-inter: Inter, "sans-serif";
}